name: Release Tests

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-test-all-platforms:
    name: "Build and Test All Platforms"
    strategy:
      matrix:
        include:
          - os: macos-14
            ios-version: "17.5"
            ios-device: "iPhone 15"
            watchos-version: "10.2"
            visionos-version: "1.0"
            xcode-version: "16.1"
          - os: macos-15
            ios-version: "18.5"
            ios-device: "iPhone 16"
            watchos-version: "11.5"
            visionos-version: "2.5"
            xcode-version: "16.4"
          - os: macos-26
            ios-version: "26.1"
            ios-device: "iPhone 17"
            watchos-version: "26.1"
            visionos-version: "26.1"
            macos-runner: "macos-26"
            xcode-version: "latest-stable"
    uses: ./.github/workflows/unit-tests.yml
    with:
      macos-runner: ${{ matrix.os }}
      ios-version: ${{ matrix.ios-version }}
      ios-device: ${{ matrix.ios-device }}
      watchos-version: ${{ matrix.watchos-version }}
      visionos-version: ${{ matrix.visionos-version }}
      xcode-version: ${{ matrix.xcode-version }}